<p>This is the partial for register view.</p>

    <div ng-controller="RegisterCtrl">
        <h1>Register</h1>
        <div>
            <form class="form-signin">
                <div ng-show="invalidLogin" class="alert alert-danger">Invalid username/password</div>
                <input type="text"  placeholder="Username" ng-model="user.username" ng-required="true"/>
                <input type="password"  placeholder="Password" ng-model="user.password" ng-required="true"/>
                <button ng-click="register()">Register</button>
                <button ng-click="login()">Login</button>
                <button ng-click="FBlogin">Facebook Login</button>
            </form>
        </div>
    </div>


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="true"></div>
