body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

.fpListContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: : hidden;
}

.fpLinkContainer {
    height: 110px;
    width: 100%;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
    border-bottom: 2px dotted #D8D8D8;
    overflow: hidden;
}

.fpLinkHeadline {
    font-size: 24px;
    color: #4990E2;
    text-decoration: none;
    width: auto;
    display: inline-block;
}

.fpLinkTitle {
    font-size: 18px;
    color: grey;
    text-decoration: none;
    width: 100%;
    display: block;
    text-overflow: ellipsis;
}

.fpDescriptionContainer {
    width: 100%;
    display: block;
    align-items: baseline;
}

.fpLinkDescription {
    font-size: 16px;
    color: grey;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.fpTimeDescription {
    font-size: 16px;
    color: grey;
}

.fpLinkSource {
    position: relative;
    float: right;
    text-align:right;
    margin-left: 20px;
    margin-top: 10px;
}

.fpUpVote {
    height: 30px;
}

.fpVoteCount {
    margin: 0;
    margin-top: 8px;
    font-size: 18px;
    color: #D8D8D8;
    text-align: center;
}

.fpVoteCountContainer {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fpLinkContentContainer {
    position: relative;
    display: inline-block;
    left:2%;
}

.spLinkContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
}

.spTitle {
    display: block;
    font-size: 36px;
    color: #4990E2;
    margin: 10px 0;
}

.spText {
    display: inline-block;
    margin: 0;
    color: grey;
}

.spLinkContentContainer a {
    text-decoration: none;
}

.spDescription {
    display: block;
    font-size: 22px;
    color: grey;
    margin: 0;
}

.spUpVote {
    height: 50px;
}

.spDownVote {
    height: 50px;
}

.spVoteCount {
    margin: 0;
    font-size: 24px;
    color: #D8D8D8;
    text-align: center;
}

.spVoteCountContainer {
    margin: 0 30px;
}

.commentContainer {
    min-height: 40px;
    margin-left: 40px;
    margin-top: 20px;
}

.commentDescription {
    text-decoration: none;
    color: darkgreen;
    margin: 0;
    display: inline-block;
}

.commentText {
    margin: 5px 0;
}

.postCommentContainer {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-left: 40px;
}

.postCommentTextArea {
    height: 150px;
    width: 350px;
}

.postCommentButton {
    background-color: #4990E2;
    height: 25px;
    width: auto;
    border: none;
    color: white;
}

.replies {
    position: relative;
    left: 60px;
}

.reply {
    background:none;
    border:none;
    cursor:pointer;
    text-decoration: underline;
    font-size:18px;
    color:#4990E2;
}

.headerContainer {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 70px;
    /*border: 2px solid black;*/
    background-color: #D8D8D8;
}


.headerButton {
    background-color: #4990E2;
    color: white;
    height: 40px;
    width: auto;
    float: right;
    border: none;
    margin: 0;
    margin-right: 10px;
    font-size: 20px;
}

.headerTitle {
    display: inline-block;
    font-size: 28px;
    font-family: sans-serif;
    margin: 0;
    color: #191970;
    font-weight: 700;
}

.picture {
    position:relative;
    overflow: hidden;
    width: 90px;
    height:90px;
    image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}


.registerPopUp {
    position:relative;
    height: 250px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.uploadContainer {
    height: 320px;
    width: 500px;
    padding-top: 50px;
}

.addLinkInput {
    length: 300px;
}

.popupHeadline {
    position:relative;
    left: 22%;
    margin: 15px;
    text-align: center;
}

.form-horizontal {
    position: relative;
    text-align: center;
    left:15%;
}

.blueButton {
    background-color: #4990E2;
    color: white;
}

.wrongLogin {
    position: relative;
    color: red;
    text-align: center;
    font-weight: 800;
    left:8%
}


#subtitle {
    display: inline-block;
    font-size: 14px;
    font-family: sans-serif;
    margin: 0;
    color: #191970;
    font-weight: 500;
}
