.fpLinkContainer {
    height: 300px;
    width: 80%;
}

.fpLinkHeadline {
    font-size: 28px;
    color: blue;
    text-decoration: none;
}

.fpLinkTitle {
    font-size: 24px;
    color: grey;
    text-decoration: none;
}

.fpLinkDescription {
    font-size: 18px;
    color: grey;
    text-decoration: none;
}
