.fpLinkContainer {
    height: 90px;
    width: 100%;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
}

.fpLinkHeadline {
    font-size: 28px;
    color: blue;
    text-decoration: none;
    width: 100%;
    display: block;
}

.fpLinkTitle {
    font-size: 24px;
    color: grey;
    text-decoration: none;
    width: 100%;
    display: block;
}

.fpLinkDescription {
    font-size: 18px;
    color: grey;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fpTimeDescription {
    font-size: 18px;
    color: grey;
}

.fpUpVote {
    height: 30px;
}

.fpDownVote {
    height: 30px;
}

.fpVoteCount {
    margin: 0;
    font-size: 18px;
    color: #D8D8D8;
    text-align: center;
}

.fpVoteCountContainer {
    margin-right: 20px;
}

.fpLinkContentContainer {
    display: inline-block;
}
