<div id="header" class="headerContainer navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">LinkBin</a>
            <span ng-if="username" class="hidden-xs tagline" id="subtitle">Share something interesting, {{username}}</span>
        </div>
        <div class="navbar-collapse collapse" uib-collapse="navbarCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="hover" ng-click="addLink()"><span class="glyphicon glyphicon-link"></span> Add Link</a></li>
                <li class="hover" ng-if="log===true"><a href="#/favorites"><span class="glyphicon glyphicon-user"></span> Favorites</a></li>
                <li class="hover" ng-if="log===false"><a ng-click="login()"><span class="glyphicon glyphicon-log-in"></span> Login / Signup</a></li>
                <li class="hover" ng-if="log===true"><a ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
