<div class="container-fluid">
    <div class="row">
        <div class="spLinkContainer col-md-12" id="link-{{link.id}}">
            <div class="spVoteCountContainer col-md-1 col-sm-2 col-xs-2" ng-switch on="link.voted">
                <img class="spUpVote" src="/media/star.png" ng-switch-default ng-click="addVote($event); link.voted= true; link.votes = link.votes + 1" />
                <img class="spUpVote" src="/media/stared.png" ng-switch-when="true" ng-click="removeVote($event); link.voted= false; link.votes = link.votes - 1" />
                <p class="spVoteCount">{{link.votes}}</p>
            </div>
            <div class="spPictureContainer col-md-2">
                <img class="spPicture hidden-xs" src="{{link.picture_url}}" />
            </div>
            <div class="spLinkContentContainer">
                <div class="row">
                    <a href="{{link.url}}"><h1 class="col-md-10 spTitle">{{link.link_headline}}</h1></a>
                </div>
                <div class="row">
                    <h3 class="col-md-10  spDescription" ng-if="link.description.length">{{link.description}}</h3>
                </div>
                <div class="row spDescriptionContainer">
                    <p class="spText"> Submitted by</p>
                    <a href="#/user/{{link.username}}" class="spText">{{link.username}}</a>
                    <time class="spText" am-time-ago="link.created_at"></time>
                </div>
            </div>
        </div>
    </div>


    <div class="postCommentContainer">
        <div class="row" ng-hide="log===false">
            <textarea class="postCommentTextArea col-md-4 col-sm-6 col-xs-10" rows="6" ng-model="comment"></textarea><br />
        </div>
        <button class="btn blueButton row" ng-click="submitComment()">Add Comment</button>
    </div>

    <div ng-repeat="comment in comments" class="commentContainer" id="comment-{{comment.id}}">
        <p class="commentText">{{comment.comment}}</p>
        <a href="#/comments/{{comment.username}}" class="commentUsername">{{comment.username}}</a> | posted <time am-time-ago="comment.created_at"></time> |
        <!-- <p class="commentDescription">
        </p> -->

        <button ng-click="showReplyBox = !showReplyBox; reply($event)" class="reply"=>reply</button>

        <div ng-show="showReplyBox">

            <textarea class="postReplyTextArea"></textarea>
            <button ng-click="submitReply($event)">submit</button>
        </div>
        <div class="replyContainer">
            <div ng-if="comment.num_of_replies>0 && !comment.closeReplies" class="arrow-down"> </div>
            <div ng-if="comment.closeReplies" class="arrow-up"> </div>

            <button ng-if="comment.num_of_replies>0" class="getRepliesButton" ng-click="getReplies($event)">
                {{ comment.num_of_replies === 1 ? comment.num_of_replies + ' reply' : comment.num_of_replies + ' replies' }}
            </button>
            <div class="replies">
                <div ng-repeat='reply in comment.replies'>
                    <p class="commentText">{{reply.comment}}</p>
                    <a href="#/comments/{{reply.username}}"class="commentUsername">
                        {{reply.username}}</a> | posted <time am-time-ago="reply.created_at"></time>
                </div>
            </div>
        </div>
    </div>
</div>
