<div>
    <div class="spLinkContainer">
        <div class="spVoteCountContainer">
            <img class="spUpVote" src="/media/upvote.png" />
            <p class="spVoteCount">{{link.votes}}</p>
            <img class="spDownVote" src="/media/downvote.png" />
        </div>
        <div class="spLinkContentContainer">
            <a href="{{link.link}}"><h1 class="spTitle">{{link.headline_in_link}}</h1></a>
            <h3 class="spDescription" ng-if="link.given_title.length < 99">{{link.given_title}}</h3>
            <h3 class="spDescription" ng-if="link.given_title.length > 99">{{link.given_title | limitTo : 100}}...</h3>
            <p class="spText"> Submitted by</p>
            <a href="#/{{link.id}}" class="spText">{{link.username}}</a>
            <time class="spText" am-time-ago="link.created_at"></time>
        </div>
    </div>

    <div class="postCommentContainer">
        <textarea class="postCommentTextArea" ng-model="comment"></textarea>
        <button class="postCommentButton" ng-click="submitComment()">Add Comment </button>
    </div>

    <div ng-repeat="comment in comments" class="commentContainer" id="comment-{{comment.id}}">
        <p class="commentText">{{comment.comment}}</p>
        <a class="commentDescription">{{comment.username}}</a> | posted <time am-time-ago="comment.created_at"></time> | <p class="commentDescription">reply</p>
        <div class="replyContainer"><button ng-click="getReplies($event)">{{comment.num_of_replies}}</button></div>
    </div>
</div>
