<div class="uploadContainer">
    <div class="container">
        <div class="modal-headline col-md-offset-1">
            <h2 class="popupHeadline">Add a link</h2>
        </div>
        <div class="">
            <div class="col-md-offset-2">
                <form class="" ng-submit="add()">
                    <div class="row">
                        <div class="">
                            <input type="text" ng-model="link.url" name="url" placeholder="URL" class="form-control addLinkInput" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <textarea type="text" ng-model="link.description" name="description" placeholder="Description" class="form-control addLinkInput" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                           <input type="submit" value="Submit" class="btn blueButton" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
